.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -o-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}

.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}

#pagecontent.scanning {
		-webkit-filter: blur(1px) grayscale(50%);
}

.data {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 80%;
}

form ul { list-style: none; }

.dialog {
	position: absolute;
	top: 25%;
	left: 25%;
	margin: auto;
	padding: 20px;

	border: 3px solid black;
	.border-radius(9px);
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 150%;
	font-weight: bold;
	width: auto;
}

#overlay {
	position: fixed;
	display: none;
	background-color: rgba(0, 0, 0, 0.25);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	z-index: 999;
}

#scanning {
	.dialog();
	z-index: 1000;
	color: black;
	background-color: #6495ed;
}

#success {
	.dialog();
	display: none;
	color: black;
	background-color: #5be298;
}

#failure {
	.dialog();
	display: none;
	color: black;
	background-color: #cd5c5c;
}

#pagecontent, #background {
	.transition(0.2s; ease);
}
